.main-title{
    font-size: 30px;
    font-weight: 700px;
    text-align: center;
}

.container{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    padding: 2rem;
    font-size: 24px;
    
}

.btn{
    margin-top: 15px;
    font-size: 20px;
}
