.componente1{
    /* max-width: 80%; */
    margin-top: 20px;
    margin-left: 0px;
}

.componente1 .title{
    margin-bottom: 20px;
    color: #4674C5;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.componente1 .result{
    margin-top: 20px;
    font-weight: bold;
    color: #181934;
}