<div class="componente-calculadora">
    <div class="title-wrapper">
        <h1 class="title">CALCULADORA</h1>
    </div>
    <div>
        <div class="row">
            <div class="col-md-7">
                <div class="text-input-wrapper">
                    <input appMyfocus type="number" class="form-control" id="operando1" placeholder="Escribe el número 1" [(ngModel)]="operando1"/>
                    <input type="number" class="form-control" id="operando2" placeholder="Escribe el número 2" [(ngModel)]="operando2"/>
                    <div class="text-center mt-2">
                        <app-button label="Calcular" buttonStyle="btn-success" (click)="onSumar()"></app-button>
                    </div>
                </div>
                
            </div>
            <div class="col-md-5">
                <div class="result-wrapper">
                    <div class="numbers">
                        <span>Número 1:  
                            <label appColortitle>{{operando1}}</label>
                        </span> 
                    </div>
                    <div class="numbers">
                        <span>Número 2: 
                            <label appColortitle>{{operando2}}</label>
                        </span> 
                    </div>
                    <p appPaintelement class="result">Resultado: {{resultado}}</p> 
                </div>
            </div>
        </div>
    </div>
</div>