<!-- <nav class="navbar navbar-expand-lg bg-dark shadow p-3 mb-5" data-bs-theme="dark"> -->
<nav class="navbar navbar-expand-lg shadow p-3 mb-5">
    <div class="container-fluid">
      <a class="navbar-brand" >CERTUS</a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Características</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Soporte para</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Empresas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Precios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active"></a>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-primary" type="button">Inscribirse</button>
            </li>
        </ul>
      </div>
    </div>
</nav>