<div class="container">
    <app-header></app-header>
    <div>
        <div class="row">
            <div class="col-md-7">
                <div class="title-wrapper">
                    <h1 class="title">Framework Angular</h1>
                </div>
                <p class="parrafo">Angular es una plataforma y framework para crear aplicaciones de una sola página
                    en el lado del cliente usando HTML y TypeScript. Angular está inscrito en TypeScript.
                    Implementa la funcionalidad básica y opcional como un conjunuto de biblioteca
                    TypeScript que importas en tus aplicaciones.
                </p>
            </div>
            <div class="col-md-5">
                <div class="img-wrapper">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png">
                </div>
            </div>
        </div>
    </div>
</div>