<div class="componente-calculadora">
    <div class="title-wrapper">
        <h1 class="title">CALCULADORA</h1>
    </div>
    <div>
        <div class="row">
            <div class="col-md-7">
                <app-text-input placeholder="Ingrese el N° 1"></app-text-input>
                <app-text-input placeholder="Ingrese el N° 2"></app-text-input>
                <div class="text-center mt-2">
                    <app-button label="Calcular" buttonStyle="btn-success"></app-button>
                </div>
            </div>
            <div class="col-md-5">
                <div class="result-wrapper">
                    <span>Number 1: </span> 1
                    <span>Number 2: </span> 2
                </div>
            </div>
        </div>
    </div>
</div>